<form class="app-wrapper clearfix" {{action "submit" on="submit"}}>
    <div class="col">
        <h1>Centerfolds Boston</h1>
        <section id="num_customers">
            <label for="num_customers_input"># of customers:</label>
            <input id="num_customers_input" type="text" placeholder="(default 1)" />
        </section>

        <section id="quick_add">
            <h2 class="clearfix"><span>Quick Add:</span><hr /></h2>
            <button type="button">+1</button>
        </section>

        <section id="choose_number">
            <h2 class="clearfix"><span>Choose Number:</span><hr /></h2>
            <div class="button-row">
                <button type="button">7</button>
                <button type="button">8</button>
                <button type="button">9</button>
            </div>
            <div class="button-row">
                <button type="button">4</button>
                <button type="button">5</button>
                <button type="button">6</button>
            </div>
            <div class="button-row">
                <button type="button">1</button>
                <button type="button">2</button>
                <button type="button">3</button>
            </div>
            <div class="button-row">
                <button type="button">0</button>
                <button class="double" type="button">Clear</button>
            </div>
        </section>
    </div>

    <div class="col">
        <section id="charges">
            <h2 class="clearfix"><span>Charges:</span><hr /></h2>
            <button type="submit">$5</button>
            <button type="submit">$10</button>
            <button type="submit">$20</button>
            <button type="submit">Credit</button>
        </section>

        <section id="comp">
            <h2 class="clearfix"><span>Comp:</span><hr /></h2>
            <button type="submit">MGR Comp</button>
            <button type="submit">Game Comp</button>
            <button type="submit">Hotel Comp</button>
        </section>

        <section id="reports">
            <h2 class="clearfix"><span>Reports:</span><hr /></h2>
            <button type="submit">Nightly</button>
            <button type="submit">Z</button>
        </section>
    </div>

</form>