<div class="app-wrapper clearfix">
    <div class="col">
        <h1>Centerfolds Boston</h1>
        <section id="num_customers">
            <label for="num_customers_input"># of customers:</label>
            <input id="num_customers_input" type="text" />
        </section>

        <section id="quick_add">
            <h2 class="clearfix"><span>Quick Add:</span><hr /></h2>
            <button>+1</button>
        </section>

        <section id="choose_number">
            <h2 class="clearfix"><span>Choose Number:</span><hr /></h2>
            <div class="button-row">
                <button>7</button>
                <button>8</button>
                <button>9</button>
            </div>
            <div class="button-row">
                <button>4</button>
                <button>5</button>
                <button>6</button>
            </div>
            <div class="button-row">
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </div>
            <div class="button-row">
                <button>0</button>
                <button class="double">Clear</button>
            </div>
        </section>
    </div>

    <div class="col">
        <section id="charges">
            <h2 class="clearfix"><span>Charges:</span><hr /></h2>
            <button>$5</button>
            <button>$10</button>
            <button>$20</button>
            <button>Credit</button>
        </section>

        <section id="comp">
            <h2 class="clearfix"><span>Comp:</span><hr /></h2>
            <button>MGR Comp</button>
            <button>Game Comp</button>
            <button>Hotel Comp</button>
        </section>

        <section id="reports">
            <h2 class="clearfix"><span>Reports:</span><hr /></h2>
            <button>Nightly</button>
            <button>Z</button>
        </section>
    </div>

</div>