{{#each receipt in model}}
	<div style="background: #777; border: 1px #dbdbdb solid; margin: 15px; padding: 15px;">
		<p>Customers: {{receipt.customers}}</p>
		<p>Type: {{receipt.type}}</p>
		<p>Time: {{receipt.time}}</p>
	</div>
{{/each}}
